<div id="main-containner">
	<div class="board-box">
		<h3>게시판</h3>
		<div class="list-group" ng-init="appName = 'kun'">
	        <a href="#" class="list-group-item active">
	          Cras justo odio<span style="display:inline-block;float:right">asdasd</span>
	        </a>
	        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
	        <a href="#" class="list-group-item">Morbi leo risus</a>
	        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
	        <a href="#" class="list-group-item">Vestibulum at eros</a>
	        {{appName}}
	      </div>
	      
	</div>
</div>